# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Set payload data
        id: set-payload
        run: |
          AZURE_FUNCTION_URL="https://b021-2a02-a458-a097-1-58a9-4e89-a1c9-13be.ngrok-free.app"
          COMMITTER_NAME=$(git log -1 --pretty=format:'%an')
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          TIMESTAMP_COMMIT=$(git log -1 --pretty=format:'%ct')
          COMMIT_MESSAGE=$(git log -1 --pretty=format:'%s')
          PAYLOAD_DATA="{\"commitMadeBy\":\"$COMMITTER_NAME\", \"branch\":\"$BRANCH_NAME\", \"committedAt\":\"$TIMESTAMP_COMMIT\", \"message\":\"$COMMIT_MESSAGE\"}"
          echo "PAYLOAD_DATA=$PAYLOAD_DATA" >> $GITHUB_ENV

      - name: Display payload data
        run: |
          echo "Payload Data: $PAYLOAD_DATA"

      - name: Send POST request to Azure Function
        run: |
          AZURE_FUNCTION_URL="https://c2c7-2a02-a458-a097-1-bb7a-19e3-26b-bfb5.ngrok-free.app/api/Github_http_trigger"
          curl -X POST -H "Content-Type: application/json" -d "$PAYLOAD_DATA" "$AZURE_FUNCTION_URL"
